*, *::before, *::after {
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.highscores {
  float: left;
  font-size: 20px;
}

.timer {
  float: right;
  font-size: 20px;
}

body{
  text-align: center;
  background-color: lightskyblue;
}

.container {
  margin-top: 40px;
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
  padding: 10px;
  display: inline-block;
}

.start-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  background-color: lightcoral;
  border: 1px;
  border-radius: 5px;
  color: white;
  outline: none;
  margin: 3px;
}

.start-btn:hover {
  border-color: black;
  background-color: plum;
}

.btn {
  border: 1px;
  background-color: indigo;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
  font-size: 18px;
  margin: 3px;
}

.btn:hover {
  background-color: indianred;
  border-color: black;
}

#questions {
  font-size: 36px;
  padding: 10px;
}

p {
  font-size: 18px;
}

.hide {
  display: none;
}

ul, li {
  list-style-type: none;
  
}

a {
  text-decoration: none;
}

.home a {
  color: white;
}

input {
  font-size: 1.8rem;
  border: none;
  box-shadow: 0 0.1rem 1.4rem 0;
  margin-bottom: 1rem;
  text-align: center;
}

input::placeholder {
  text-align: center;
}